

h1 { 
font-family: "Fascinate", Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucia Grande, sans-serif;
line-height: 20px;
font-weight: 100;
font-size: 64px;
line-height: 60px;
color: pink;}

body {

	background: url(jz.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}